.panel.panel-default
  .panel-heading
    = link_to dream.title, dream
    = dream.created_at.strftime('%d.%m.%Y')
    \-
    = dream.user class: "btn btn-xs btn-default"
    - unless current_user == dream.user
      - if current_user.following?(dream.user)
        = link_to 'Unstalk', user_toggle_stalk_path(dream.user), class: "btn btn-xs btn-default"
      - else
        = link_to 'Stalk', user_toggle_stalk_path(dream.user), class: "btn btn-xs btn-default"
    .pull-right
      - if policy(dream).edit?
        = link_to 'Edit', edit_dream_path(dream), class: "btn btn-xs btn-default"
      - if policy(dream).destroy?
        = link_to 'Destroy', dream, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger"
  .panel-body
    - if limited
      = truncate(dream.content, length: 500)
    - else
      = dream.content
  .panel-footer
    - if dream.get_likes.find_by(voter_id: current_user.id).present?
      = link_to 'Unlike', like_toggle_dream_path(dream), method: 'put', class: 'btn btn-xs btn-default'
    - else
      = link_to 'Like', like_toggle_dream_path(dream), method: 'put', class: 'btn btn-xs btn-primary'
    %span.badge{title: 'Posts'}
      .glyphicon.glyphicon-thumbs-up
        = dream.decorate.like_count


