%h1 Listing dreams

%table
  %thead
    %tr
      %th Title
      %th Content
      %th User
      %th
      %th
      %th

  %tbody
    - @dreams.each do |dream|
      %tr
        %td= dream.title
        %td= dream.content
        %td= dream.user
        %td= link_to 'Show', dream
        %td= link_to 'Edit', edit_dream_path(dream)
        %td= link_to 'Destroy', dream, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Dream', new_dream_path
