.container
  %h1 Listing dreams
  %p= link_to 'New Dream', new_dream_path, class: "btn btn-sm btn-success"
  - @dreams.each do |dream|
    .panel.panel-default
      .panel-heading
        = link_to dream.title, dream
        = dream.created_at.strftime('%d.%m.%Y')
        .pull-right
          = link_to 'Edit', edit_dream_path(dream), class: "btn btn-xs btn-default"
          = link_to 'Destroy', dream, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-xs btn-danger"
      .panel-body
        = dream.content
      .panel-footer
        = dream.user class: "btn btn-xs btn-default"
        - if current_user.following?(dream.user)
          = link_to 'Unstalk', user_toggle_stalk_path(dream.user), class: "btn btn-xs btn-default"
        - else
          = link_to 'Stalk', user_toggle_stalk_path(dream.user), class: "btn btn-xs btn-default"


