%p#notice= notice

%p
  %b Title:
  = @dream.title
%p
  %b Content:
  = @dream.content
%p
  %b User:
  = @dream.user
= @dream.like_count
- if @dream.get_likes.find_by(voter_id: current_user.id).present?
  = link_to 'Unlike', like_toggle_dream_path(@dream), method: 'put'
- else
  = link_to 'Like', like_toggle_dream_path(@dream), method: 'put'

= link_to 'Edit', edit_dream_path(@dream)
\|
= link_to 'Back', dreams_path
